<<<<<<< HEAD
.header__links {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
=======
.header__links {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
>>>>>>> 17b8047ea16712d08e00c76e136ebcedff9a6194
