<<<<<<< HEAD
.page__max-container {
  margin: 0 148px 0;
}

@media screen and (max-width: 1024px) {
  .page__max-container {
  margin: 0 48px 0;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .page__max-container {
  margin: 0 24px 0;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .page__max-container {
  margin: 0 16px 0;
  }
}
=======
.page__max-container {
  margin: 0 148px 0;
}

@media screen and (max-width: 1024px) {
  .page__max-container {
  margin: 0 48px 0;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .page__max-container {
  margin: 0 24px 0;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .page__max-container {
  margin: 0 16px 0;
  }
}
>>>>>>> 17b8047ea16712d08e00c76e136ebcedff9a6194
