<<<<<<< HEAD
.header__link_active {
  text-decoration: underline;
}
=======
.header__link_active {
  margin-right: 18px;
}

.header__link_active:hover {
  text-decoration: underline;
}
>>>>>>> 17b8047ea16712d08e00c76e136ebcedff9a6194
