<<<<<<< HEAD
.page__min-container {
  margin: 0 48px 0;
}

@media screen and (max-width: 768px) {
  .page__min-container {
  margin: 0 24px 0;
  }
}

@media screen and (max-width: 320px) {
  .page__min-container {
  margin: 0 16px 0;
  }
}
=======
.page__min-container {
  margin: 0 48px 0;
}

@media screen and (max-width: 768px) {
  .page__min-container {
  margin: 0 24px 0;
  }
}

@media screen and (max-width: 320px) {
  .page__min-container {
  margin: 0 16px 0;
  }
}
>>>>>>> 17b8047ea16712d08e00c76e136ebcedff9a6194
