<<<<<<< HEAD
.header__link {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  text-decoration: none;
}

.header__link:hover {
  opacity: 0.8;
  transition: opacity 0.5s ease-in-out 0.5s;
}

@media screen and (max-width: 425px) {
  .header__link {
    font-size: 18px;
    line-height: 20px;
  }
}
=======
.header__link {
  font-family: 'Inter';
  font-size: 24px;
  line-height: 28px;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  text-decoration: none;
}

@media screen and (max-width: 425px) {
  .header__link {
    font-size: 18px;
    line-height: 20px;
  }
}
>>>>>>> 17b8047ea16712d08e00c76e136ebcedff9a6194
