<<<<<<< HEAD
.footer__link {
  margin-right: 18px;
}

.footer__link:last-child {
  margin-right: 0;
}

@media screen and (max-width: 425px) {
  .footer__link {
    margin-top: 32px;
  }
}
=======
.footer__link {
  margin-right: 18px;
}

.footer__link:last-child {
  margin-right: 0;
}

@media screen and (max-width: 425px) {
  .footer__link {
    margin-top: 32px;
  }
}
>>>>>>> 17b8047ea16712d08e00c76e136ebcedff9a6194
