.lead__title {
  max-width: 720px;
  line-height: 104%;
  font-size: 96px;
  font-style: normal;
  text-align: center;
  margin: 56px 0 32px;
  padding: 0 132px 0;
}

@media screen and (max-width: 1024px) {
  .lead__title {
  padding: 0 104px 0;
  margin: 48px 0 32px;
  }
}

@media screen and (max-width: 768px) {
  .lead__title {
    padding: 0;
  }
}

@media screen and (max-width: 758px) {
  .lead__title {
    margin: 48px 0 16px;
    font-size: 40px;
    line-height: 110%;
  }
}
