<<<<<<< HEAD
.lead__image {
  max-width: 984px;
  width: 100%;
}

@media (max-width: 1024px) {
  .lead__image {
    max-width: 928px;
}
}
=======
.lead__image {
  max-width: 984px;
  width: 100%;
}

@media (max-width: 1024px) {
  .lead__image {
    max-width: 928px;
}
}
>>>>>>> 17b8047ea16712d08e00c76e136ebcedff9a6194
