<<<<<<< HEAD
.intro__list-text {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}
=======
.intro__list-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}
>>>>>>> 17b8047ea16712d08e00c76e136ebcedff9a6194
