<<<<<<< HEAD
.footer__links-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 425px) {
  .footer__links-list {
    display: block;
  }
}
=======
.footer__links-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 425px) {
  .footer__links-list {
    display: block;
  }
}
>>>>>>> 17b8047ea16712d08e00c76e136ebcedff9a6194
